<form method="post"id="cangiuadn">
    <div class="col-md-5">
        <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
        <input type="text" class="form-control" id="id" ng-model="id" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Không chia sẻ tài khoản cho ai
        </div>
    </div>
    <div class="col-md-5">
        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" id="password" ng-model="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">
            Lưu đăng nhập
        </label>
    </div>

    <a type="button" class="btn btn-primary" ng-click="loginTaiKhoan(id,password)">Đăng
            nhập</a><br>
    <a type="button" class="btn btn-danger btn_dangnhaps_index" href="#doimatkhau">Thay đổi mật khẩu</a>
    <a type="button" class="btn btn-warning btn_dangnhaps_index" href="#doimatkhau">
           Quên mật khẩu </a>
    <h1 class="modal-title fs-5">Bạn chưa có tài khoản</h1>
     <a type="button" class="btn btn-danger btn_dangnhaps_index" href="#dangky">Đăng
            ký </a>
            <p></p>

</form>
<p></p>