<!-- <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
</div> -->
<a class="btn btn-primary fixchu" href="#quanlyNsxMausac">Nhà sản xuất - Màu sắc</a>



<div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<form action="/action_page.php" class="row g-3 was-validated" method="post">
    <div class="col-md-2 mb-3 mt-3">
        <label for="" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" ng-model="id" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="col-md-6">
        <label for="" class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" id="name" ng-model="name" required>
    </div>
    <div class="col-md-4">
        <label for="formFile" class="form-label">Hình ảnh</label>
        <input class="form-control" type="file" id="image" required>
    </div>
    <div class="col-md-4">
        <select class="form-select" id="cpu" ng-model="cpu" required>
            <option selected value="">CPU</option>
            <option value="Intel core i5">Intel core i5</option>
            <option value="Intel core i7">Intel core i7</option>
            <option value="Intel core i9">Intel core i9</option>
        </select>

    </div>
    <div class="col-md-4">
        <select class="form-select" id="ram" ng-model="ram" required>
            <option selected value="">RAM</option>
            <option value="4GB">4GB</option>
            <option value="8GB">8GB</option>
            <option value="16GB">16GB</option>
        </select>
    </div>
    <div class="col-md-4">
        <select class="form-select" id="disk" ng-model="disk" required>
            <option selected value="">Ổ cứng</option>
            <option value="128GB">128GB</option>
            <option value="256GB">256GB</option>
            <option value="512GB">512GB</option>
        </select>
    </div>



    <div class="form-floating col-md-6">
        <input type="text" class="form-control" id="manHinh" placeholder="manhinh" ng-model="manHinh" required>
        <label for="">Màn hình</label>
    </div>
    <div class="form-floating col-md-6">
        <input type="text" class="form-control" id="cardVga" placeholder="carddohoa" ng-model="cardVga" required>
        <label for="">Card đồ họa</label>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="form-control" id="importPrice" placeholder="gianhap" ng-model="importPrice"
            required>
        <label for="">Giá nhập</label>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="form-control" id="oldPrice" placeholder="giabangoc" ng-model="oldPrice" required>
        <label for="">Giá bán gốc</label>
    </div>
    <div class="form-floating col-md-4">
        <input type="number" class="form-control" id="price" placeholder="price" ng-model="price" required>
        <label for="">Giá bán</label>
    </div>
    <div class="form-floating col-md-6">
        <input type="text" class="form-control" id="trongLuong" placeholder="trongluong" ng-model="trongLuong" required>
        <label for="">Trọng lượng</label>
    </div>
    <div class="form-floating col-md-6">
        <input type="text" class="form-control" id="pin" placeholder="pin" ng-model="pin" required>
        <label for="">Pin</label>
    </div>
    <p></p>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>

</form>
<button type="submit" class="btn btn-warning" ng-click="addLaptop()">Add</button>
<button type="button" class="btn btn-warning" ng-click="updateLaptop()">Update</button>
<br>
<label for="exampleDataList" class="form-label">
    Nhập tên laptop muốn tìm kiếm</label>
<input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
<datalist id="datalistOptions">
    <option value="San Francisco">
    <option value="New York">
    <option value="Seattle">
    <option value="Los Angeles">
    <option value="Chicago">
</datalist>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Chip</th>
            <th scope="col">RAM</th>
            <th scope="col">Màn hình</th>
            <th scope="col">Ổ cứng</th>
            <th scope="col">Card đồ họa</th>
            <th scope="col">Trọng lượng</th>
            <th scope="col">Pin</th>
            <th scope="col">Giá nhập</th>
            <th scope="col">Giá bán gốc</th>
            <th scope="col">Giá bán</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-warning" ng-repeat="t in listLaptops">
            <th scope="row">{{t.id}}</th>
            <td>{{t.name}}</td>
            <td><img src="/ImagesAsm/{{t.image}}" width=150px></td>
            <td>{{t.cpu}}</td>
            <td>{{t.ram}}</td>
            <td>{{t.manHinh}}</td>
            <td>{{t.disk}}</td>
            <td>{{t.cardVga}}</td>
            <td>{{t.trongLuong}}</td>
            <td>{{t.pin}}</td>
            <td>{{t.importPrice}}</td>
            <td>{{t.oldPrice}}</td>
            <td>{{t.price}}</td>
            <td>
                <button type="button" class="btn btn-warning" ng-click="chiTietLaptop(t.id)">CT</button>
                <button type="button" class="btn btn-danger" ng-click="deleteLaptop(t.id)">DL</button>
            </td>

        </tr>
    </tbody>
</table>
<!-- <form action="/action_page.php" class="was-validated">
    <div class="mb-3 mt-3">
        <label for="uname" class="form-label">ID:</label>
        <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
        <label class="form-check-label" for="myCheck">I agree on blabla.</label>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Check this checkbox to continue.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->